@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #000000;
  --secondary-color: #b9b9b9;
  --tertiary-color: #00aaaa;
  --brown-color: #28161c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000000;
    --secondary-color: #b9b9b9ab;
    --tertiary-color: #00aaaa;
    --brown-color: #28161c;
  }
}

body {
  color: white;
  background: var(--primary-color);
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
